*.elc
.cache
.dap-breakpoints
.lsp-session-*
/forge-database.sqlite
/image-dired
auto-save-list
bookmarks
custom.el
elpa
emojis
eshell
flycheck_*.el
junk
places
projectile-bookmarks.eld
projectile.cache
recentf
straight
tramp
transient
var
workspace