*.elc
.cache
.dap-breakpoints
.lsp-session-*
/forge-database.sqlite
/image-dired
auto-save-list
bookmarks
elpa
emojis
eshell
flycheck_*.el
junk
places
projectile-bookmarks.eld
projectile.cache
recentf
straight/build
straight/build-cache.el
straight/modified
straight/repos
tramp
transient
var
workspace